<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Vue test</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/vue.js" type="text/javascript"></script>
</head>
<body style="font-family: 'Open Sans Light'">
    <div id="app">
        <form action=""  v-on:submit="preventSubmit($event)">
            <form-field   v-model="form.name"  v-bind:form-field="formFields.name" v-bind:key="formFields.name.id"> </form-field>
            <form-field   v-model="form.password" v-bind:form-field="formFields.password" v-bind:key="formFields.password.id"> </form-field>
            <button v-on:click="isFormValid">Valider</button>
        </form>

    </div>

<script>


    Vue.component('form-field', {
        props : ['formField', 'value'],
        template : '<div class="form-group" >' +
            '<label v-if="formField.label" style="font-weight: 600"> {{ formField.label }} </label> <br>' +
            '<input style="padding: 10px 15px" v-bind:type="formField.type"  v-bind:placeholder="formField.placeHolder" ' +
            'v-model="inputVal"  v-bind:class="[{\'invalid-field\' : formField.hasError},\'input-rounded\']">' +
            '<br>' +
            '<small class="error-text" style="font-weight: 600">{{ formField.errorText }}</small>' +
            '</div>',
        computed: {
            inputVal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data : {
            form : {},
            formValidation : {
                nameHasError : false,
                passwordHasError : false
            },
            message: 'Un message au hasard',
            formName : '',
            formPassword: '',
            seen : true,
            formFields : {
               name : { id : 'name', label : 'Name', type : 'text', placeHolder : 'Enter your name',
                   required : 'false', hasError : false, errorText : '' },
               password : { id : 'password', label : 'Password', type : 'password', placeHolder : 'Enter your password',
                   required : 'false' , hasError : false, errorText : '' },
               submit : { id : 'submit', type : 'submit' },
            }
        },

        methods : {
            preventSubmit (e) {
                e.preventDefault();
            },
            isFormValid() {
                var result = true;
                if (!this.form.name) {
                    this.formFields.name.hasError = true;
                    this.formFields.name.errorText = 'The name cannot be empty';
                    result = false;
                } else {
                    this.formFields.name.hasError = false;
                    this.formFields.name.errorText = '';
                }

                if (!this.form.password) {
                    this.formFields.password.hasError = true;
                    this.formFields.password.errorText = 'The password cannot be empty';
                    result = false;
                } else {
                    this.formFields.password.hasError = false;
                    this.formFields.password.errorText = '';
                }
                return result;
            }
        }
    })

</script>
</body>
</html>